[package]
name = "sshthing"
version = "0.0.0"
edition = "2021"

[dependencies]
anyhow = "1.0.91"
clap = { version = "4.5.20", features = ["derive"] }
num_cpus = "1.16.0"
rand_chacha = "0.3.1"
ssh-key = { version = "0.6.7", features = ["ed25519"] }

[profile.release]
lto = "thin"
